*{
    margin: 0px;
}

body{
    font-family: 'Questrial', sans-serif;
}

/* Comienzo Barra de navegación */
header{
    height: 100px;
    width: 100%;
    background-color: #fbbc02;
}
.container-nav{
    display: flex;
}

.logo{
    width: 180px;
    padding: 15px 0px 10px 40px;
}



.item-productos{
    padding: 35px 0px 0px 85px;
    transition: font-size .3s ease-in;
}

.item-crear-cuenta{
    margin-left: auto;
    padding: 35px 20px 20px 60px;
    border: none;
    background-color: #fbbc02;
}
.item-ingresar{
    padding: 35px 30px 23px 30px;
}

.item-opiniones {
    margin-left: auto;
    padding: 40px 5px 0px 0px;
}

/* Items de la barra(transiciones) */
.items-nav-transiciones{
    transition: font-size .3s ease-in;
}
.items-nav-transiciones:hover{
    font-size: 16.4px;
}
/* Items de la barra(transiciones) */

.links-nav{
    text-decoration: none;
    color: black;
}


/* Iconos de la barra*/
.icono-mano{
    width: 55px;
    margin: -9px;
    padding: 0px 15px 0px 12px;
}

.icono-registrarse{
    font-size: 27px;
    color: rgb(120, 129, 46);
    margin: -5px;
    padding: 35px 30px 30px 5px;
}

.icono-log-in{
    font-size: 25px;
    color: rgb(82, 103, 149);
    
    padding: 32px 0px 0px 0px;
}
/* Iconos de la barra*/

/* Fin Barra de navegación */


/* Section: banner */

.banner-principal{
    width: 100%;
}

/* Formulario */
.tarjeta{
    display:flex;
    flex-direction:column;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: 'Questrial', sans-serif;
    padding: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}

.texto-centro{
    text-align: left;
    color: #37342a;
}
.btn-outline-primary{
    background-color: #f4e40b;
    font-family: 'Questrial', sans-serif;
    border-radius: 8px;
}
.botones-registro{
    display:flex;
    justify-content:center
}

.dialogo1{
    padding-left:10%;
}
/* Formulario */


/* Main */
main{
    position: relative;
    margin: 0;
    top: 8rem;
}

.espacio{
    position: relative;
    top: 150px;
}

h2{
    text-align: center;
    font-size: 30px;
    
}


/* Ofertas */

.ofertas{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
    .ofertas-md {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .ofertas-sm {
        display: none;
    }

}

    .ofertas .row{
    display: flex;
    justify-content: space-evenly;
    }

.ofertas button{
    width: 100px;
    max-width: fit-content;
    height: 1.5rem;
    background-color: #3483fa;
    padding: 0 5px 5px 5px ;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.ofertas .card{
    display: flex;
    align-items: center;
    height: 300px;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160); 
}

.card img {
    width: 100%;
    height: 80%;
    max-width: 300px;
    max-height:290px ;
    border-radius: 10px;
    object-fit: contain;
}

/* Destacados */

.destacados{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.destacados .card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 75%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2.5px solid rgb(160, 160, 160);
}

.destacados img{
    height: max-content;
}
.destacados img:hover{
    opacity: 50%;
}

.producto-destacado{
    width: 30%;
    position: relative;
    display: inline-block;
    text-align: center;

}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sombreado{
    text-shadow: 1.3px 1.3px rgb(121, 121, 121)
}

/* Inicio footer */

footer{
    position: relative;
    top:8rem;
    font-weight: 500;
    padding: 70px;
}

footer .footer-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}



footer .btn {
    border: none;
    background-color: #3483fa;
    color: white;
    border-radius: 5px;
    padding: 2.5px 5px 5px 5px;
    height: 30px;
    width: 80px;
}
/* Fin footer */